.mobility {
  .dropdown-item.disabled,
  .dropdown-item.disabled:visited,
  .dropdown-item.disabled:active,
  .dropdown-item.disabled:hover {
    background-color:#d9d9d9 !important;
    color:#aaa !important;
    opacity: 0.7;
    cursor: default;
  }
}

.mobility-checkbox {
  display: flex;
  align-items:center;
}

.mobility-checkbox__label {
  margin-left: 8px;
}


.mobility__deepl-progress {
  display: none;
  margin-right: 4px;
}

.mobility__deepl {
  display: none;
  margin-top: 4px;
  text-align: right;

  .progress {
    display: inline-block;
    width: 97px;
    margin-right: 4px;
  }

  &--actionable {
    display: block;
  }

  &--active {
    .mobility__deepl-progress {
      display: inline-block;
    }
  }
}
