<div class="mobility__deepl" data-remote-path="<%= trestle.translate_path %>" data-deepl-query-params="<%= deepl_query_params %>">
  <div class="btn-group">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Translate from
    </button>
    <div class="dropdown-menu mobility__deepl-languages">
      <% locales.each do |locale| %>
        <a href="javascript:void(0)" class="dropdown-item" data-locale="<%= locale %>"><%= "#{EmojiFlag.new(locale)} #{locale.upcase}" %></a>
      <% end %>
    </div>
  </div>
</div>
